:root {
  --ff-primary: 'Lato', sans-serif;
  --ff-secondary: 'Arvo' serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-darker: #111;
  --clr-accent: #d98e4e;
  --clr-github: #6e5494;

  --fs-h1: 4rem;
  --fs-body: 1rem;
}

*{
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}

body{
  margin:0;
  font-family: var(--ff-secondary);
  font-size:17px;
  color:var(--clr-light);
  background-color: var(--clr-darker);
  line-height:1.6;
}

p {
  font-family: var(--ff-primary);
  padding-top: 1rem;
}

.button {
  font-family: var(--ff-primary);
  color: var(--clr-light);
  background-color: var(--clr-accent);
  text-decoration: none;
  border-radius: 5px;
  width: 70%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.button:hover {
  color:var(--clr-dark);
  background-color: var(--clr-light);
}

.button__github {
  background-color: var(--clr-github);
}

.padding {
  padding-bottom: 1rem;
}

#showcase{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/edinburgh.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#showcase h1{
  font-size: var(--fs-h1);
  text-transform: uppercase;
}

#social-list{
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-list__item{
  margin: 0 2em;
}

.social-list__item a{
  color:inherit;
  font-size: 30px;
}

.social-list__item a:hover{
  color:var(--clr-accent);
}

#showcase .down-button{
  position: absolute;
  top: 90vh;
  font-size:30px;
  text-decoration:none;
  color:inherit;
}

#showcase .down-button:hover{
  color:var(--clr-accent);
}

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;

}

.my-work h2 {
  font-size: var(--fs-h1);
  margin-bottom: 1rem;
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio-item {
  position: relative;
  width: 30rem;
  margin: 1rem;
  box-shadow: var(--clr-darker) 0px 7px 29px 0px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.footer {
  font-family: var(--ff-primary);
  background: var(--clr-darker);
  color: var(--clr-accent);
  text-align: center;
  height: 7rem;
  font-size: var(--fs-h3);
  padding: 2rem;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  color: var(--clr-light);
}

.footer__link{
  display: flex;
  justify-content: center;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem 0 0;
  padding: 0;
}
